<launch>
     <!-- Launch World -->
     <include file="$(find aws_robomaker_bookstore_world)/launch/bookstore.launch"/>
          <arg name="gui" default="false"/>
       
     <!-- Launch Robot -->
     <include file="$(find hera_description)/launch/load_description.launch">
          <arg name="robot_model" default="hera_full"/>
          <arg name="use_jsp_gui" default="false"/>
     </include>
     
     <include file="$(find motion)/launch/spawn.launch"/>

     <node name="move" pkg="motion" type="goal.py" output="screen"/>
          <rosparam command="load" file="$(find motion)/config/goals.yaml"/>
</launch>