<launch>

  <!-- Definir a variável do caminho do mapa -->
  <arg name="map_file" default="$(find reinforcement)/config/map/map.yaml" />

  <!-- mapping -->
  <node name="map_server" pkg="map_server" type="map_server" output="screen"
    args="$(arg map_file)">
  </node>

  <!-- setup -->
  <node pkg="rviz" type="rviz" name="waypoint_nav_plugin"
    args="-d $(find waypoint_navigation_plugin)/rviz/waypoint_nav_plugin.rviz">
  </node>

  <!-- Create Environment -->
  <node name="create" pkg="reinforcement" type="create.py" output="screen"/>

</launch>