<launch>
  <arg name="map_resource"          default="$(find motion)/config/map"/>

  <!-- mapping -->
  <node name="map_server" pkg="map_server" type="map_server" output="screen"
    args="$(arg map_resource)/map.yaml">
  </node>

  <!-- setup -->
  <node pkg="rviz" type="rviz" name="waypoint_nav_plugin"
    args="-d $(find waypoint_navigation_plugin)/rviz/waypoint_nav_plugin.rviz">
  </node>

  <!-- Create Environment -->
  <node name="create" pkg="motion" type="create.py" output="screen"/>

</launch>